<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a4b2e0cd-593b-4e32-a2d4-f23980ebd744" name="Git Clone" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d4b194ea-9025-4d1a-bf69-3e4acd860e62fileName">Sample-REST-Test-Suite</con:setting>
    <con:setting id="a4b2e0cd-593b-4e32-a2d4-f23980ebd744fileName">Git-Clone</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
